doctype html
html(lang='en')
	include head.jade
	body
		include header.jade
		// HOME PAGE HOME PAGE HOME PAGE HOME PAGE HOME PAGE HOME PAGE HOME PAGE HOME PAGE
		.container
			.page-home
				section.banner
					img(src="lib/xxxx/landing-banner.png", alt="Banner")
				section.divider
					.line
					h5.up New Products
				section.newProductsMobile
					a(href="#")
						img(src="lib/xxxx/x.png", alt="Close").close
						img(src="lib/xxxx/newProductsMobile.png", alt="New Product")
					a(href="#")
						img(src="lib/xxxx/x.png", alt="Close").close
						img(src="lib/xxxx/newProductsMobile2.png", alt="New Product")
				section.newProducts
					.col
						a(href="#").item.col-item.first-item.p243x243
							.hover
								div
									h5 AZIMUT
									h5 Nappa Black
									.price $000
							img(src="https://placehold.it/249x249", alt="new product")
						a(href="#").item.col-item.p243x243
							.hover
									div
										h5 AZIMUT
										h5 Nappa Black
										.price $000
							img(src="https://placehold.it/249x249", alt="new product")
					a(href="#").full
						.hover
							div
								h5 AZIMUT
								h5 Nappa Black
								.price $000
						img(src="https://placehold.it/165x556", alt="new product")
					.col
						.item.sub-group.first-item
							a(href="#").item.sub-item.col-item.p146x244
								.hover
										div
											h5 AZIMUT
											h5 Nappa Black
											.price $000
								img(src="https://placehold.it/146x249", alt="new product")
							a(href="#").item.sub-item.col-item.p256x256
								.hover
										div
											h5 AZIMUT
											h5 Nappa Black
											.price $000
								img(src="https://placehold.it/249x249", alt="new product")
						a(href="#").item.col-item.p436x239
							.hover
								div
									h5 AZIMUT
									h5 Nappa Black
									.price $000
							img(src="https://placehold.it/436x249", alt="new product")
				section.divider
					.line
					h5.up Best Sellers
				section.bestSellersMobile
					a(href="#")
						img(src="lib/xxxx/x.png", alt="Close").close
						img(src="lib/xxxx/newProductsMobile.png", alt="New Product")
					a(href="#")
						img(src="lib/xxxx/x.png", alt="Close").close
						img(src="lib/xxxx/newProductsMobile2.png", alt="New Product")
				section.bestSellers
					mixin bestSellers(href,txt,txt2,price)
						a(href=href)
							.hover
								div
									h5=txt
									h5=txt2
									.price=price
							img(src="https://placehold.it/147x147", alt="best seller")
					+bestSellers('#','AZIMUT','Nappa Black','$000')
					+bestSellers('#','AZIMUT','Nappa Black','$000')
					+bestSellers('#','AZIMUT','Nappa Black','$000')
					+bestSellers('#','AZIMUT','Nappa Black','$000')
					+bestSellers('#','AZIMUT','Nappa Black','$000')
					+bestSellers('#','AZIMUT','Nappa Black','$000')
					+bestSellers('#','AZIMUT','Nappa Black','$000')
					+bestSellers('#','AZIMUT','Nappa Black','$000')
					+bestSellers('#','AZIMUT','Nappa Black','$000')
					+bestSellers('#','AZIMUT','Nappa Black','$000')
				section.divider
					.line
					h5.up Shop By Style
				section.shopByStyle
					mixin shopByStyle(href,txt,txt2,price2,txt3,txt4,price3,txt5,txt6,price4,txt7,txt8,price)
						a(href=href)
							.hover
								div
									div
										h5=txt
										h5=txt2
										.price=price
									div
										h5=txt3
										h5=txt4
										.price=price2
									div
										h5=txt5
										h5=txt6
										.price=price3
									div
										h5=txt7
										h5=txt8
										.price=price4
							img(src="lib/xxxx/add.png", alt="Add To Cart").add
							img(src="https://placehold.it/170x478", alt="Shop By Style")
					+shopByStyle('#','AZIMUT','Nappa Black','$000','AZIMUT','Nappa Black','$000','AZIMUT','Nappa Black','$000','AZIMUT','Nappa Black','$000')
					+shopByStyle('#','AZIMUT','Nappa Black','$000','AZIMUT','Nappa Black','$000','AZIMUT','Nappa Black','$000','AZIMUT','Nappa Black','$000')
					+shopByStyle('#','AZIMUT','Nappa Black','$000','AZIMUT','Nappa Black','$000','AZIMUT','Nappa Black','$000','AZIMUT','Nappa Black','$000')
					+shopByStyle('#','AZIMUT','Nappa Black','$000','AZIMUT','Nappa Black','$000','AZIMUT','Nappa Black','$000','AZIMUT','Nappa Black','$000')
					+shopByStyle('#','AZIMUT','Nappa Black','$000','AZIMUT','Nappa Black','$000','AZIMUT','Nappa Black','$000','AZIMUT','Nappa Black','$000')
			// HOME PAGE HOME PAGE HOME PAGE HOME PAGE HOME PAGE HOME PAGE HOME PAGE HOME PAGE
		include footer.jade