doctype html
html(lang='en')
	include head.jade
	body
		include header.jade
		// SECTION SECTION SECTION SECTION SECTION SECTION SECTION
		.container
			.page-section
				.grid
					mixin box(img,url,txt,txt2,price)
						.box
							img(src=img, alt="Product")
							.description
								.first
									h5=txt
									h5=txt2
									.price=price
								.last
									input(type="button" value="Add To Cart")
					mixin box-new-tag(img,url,txt,txt2,price)
						.box.new-tag
							img(src=img, alt="Product")
							.description
								.first
									h5=txt
									h5=txt2
									.price=price
								.last
									input(type="button" value="Add To Cart")
					+box('https://placehold.it/262x240','#','AZIMUT','Nappa Black','$000')
					+box-new-tag('https://placehold.it/262x240','#','AZIMUT','Nappa Black','$000')
						img(src="https://placehold.it/262x240", alt="Product")
						.description
							.first
								h5 AZIMUT
								h5 Nappa Black
								.price $000
							.last
								input(type="button" value="Add To Cart")
					+box('https://placehold.it/262x240','#','AZIMUT','Nappa Black','$000')
					+box('https://placehold.it/262x240','#','AZIMUT','Nappa Black','$000')
					.box.sale-tag
						img(src="https://placehold.it/262x240", alt="Product")
						.description
							.first
								h5 AZIMUT
								h5 Nappa Black
								.price $000
								.sale-price $111
							.last
								input(type="button" value="Add To Cart")
					+box('https://placehold.it/262x240','#','AZIMUT','Nappa Black','$000')
					+box('https://placehold.it/262x240','#','AZIMUT','Nappa Black','$000')
					+box('https://placehold.it/262x240','#','AZIMUT','Nappa Black','$000')
					+box('https://placehold.it/262x240','#','AZIMUT','Nappa Black','$000')
					+box('https://placehold.it/262x240','#','AZIMUT','Nappa Black','$000')
					+box('https://placehold.it/262x240','#','AZIMUT','Nappa Black','$000')
					+box('https://placehold.it/262x240','#','AZIMUT','Nappa Black','$000')
					+box('https://placehold.it/262x240','#','AZIMUT','Nappa Black','$000')
					+box('https://placehold.it/262x240','#','AZIMUT','Nappa Black','$000')
					+box('https://placehold.it/262x240','#','AZIMUT','Nappa Black','$000')
					+box('https://placehold.it/262x240','#','AZIMUT','Nappa Black','$000')
					+box('https://placehold.it/262x240','#','AZIMUT','Nappa Black','$000')
					+box('https://placehold.it/262x240','#','AZIMUT','Nappa Black','$000')
			// SECTION SECTION SECTION SECTION SECTION SECTION SECTION
		include footer.jade